<a href="https://colab.research.google.com/github/Soumi7/TFNotebooks/blob/master/WeatherAVG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [2]:
pip install wwo-hist

Collecting wwo-hist
  Downloading https://files.pythonhosted.org/packages/9e/4b/e4f82813f1bd33195ca5eca204c7c312850592aba45dd819de0f2250d7fd/wwo_hist-0.0.4.tar.gz
Building wheels for collected packages: wwo-hist
  Building wheel for wwo-hist (setup.py) ... done
  Created wheel for wwo-hist: filename=wwo_hist-0.0.4-cp36-none-any.whl size=4216 sha256=0c25f7edb8cce14eb5f660ff62aa662ad791842f2232a23aae7bc81913fef714
  Stored in directory: /root/.cache/pip/wheels/c5/0e/16/329d9233f3b0b7e5fe81b09c5519a193727999c6ae77577ca9
Successfully built wwo-hist
Installing collected packages: wwo-hist
Successfully installed wwo-hist-0.0.4

In [3]:
import requests
from wwo_hist import retrieve_hist_data
frequency = 24
start_date = '1-JAN-2018'
end_date = '1-DEC-2018'
api_key = '12b2c18a34194a8ca93113127200405'
location_list = ['Mlawa']
hist_weather_data = retrieve_hist_data(api_key,
                                location_list,
                                start_date,
                                end_date,
                                frequency,
                                location_label = False,
                                export_csv = True,
                                store_df = True)

Retrieving weather data for Mlawa


Currently retrieving data for Mlawa: from 2018-01-01 to 2018-01-31
Time elapsed (hh:mm:ss.ms) 0:00:01.331039
Currently retrieving data for Mlawa: from 2018-02-01 to 2018-02-28
Time elapsed (hh:mm:ss.ms) 0:00:02.410929
Currently retrieving data for Mlawa: from 2018-03-01 to 2018-03-31
Time elapsed (hh:mm:ss.ms) 0:00:03.573641
Currently retrieving data for Mlawa: from 2018-04-01 to 2018-04-30
Time elapsed (hh:mm:ss.ms) 0:00:04.800769
Currently retrieving data for Mlawa: from 2018-05-01 to 2018-05-31
Time elapsed (hh:mm:ss.ms) 0:00:05.897926
Currently retrieving data for Mlawa: from 2018-06-01 to 2018-06-30
Time elapsed (hh:mm:ss.ms) 0:00:07.140654
Currently retrieving data for Mlawa: from 2018-07-01 to 2018-07-31
Time elapsed (hh:mm:ss.ms) 0:00:08.327637
Currently retrieving data for Mlawa: from 2018-08-01 to 2018-08-31
Time elapsed (hh:mm:ss.ms) 0:00:09.432538
Currently retrieving data for Mlawa: from 2018-09-01 to 2018-09-30
Time elapsed (hh:mm:ss.ms) 0:00:10.550436
Currently retrieving data for Mlawa: from 2018-10-01 to 2018-10-31
Time elapsed (hh:mm:ss.ms) 0:00:11.653250
Currently retrieving data for Mlawa: from 2018-11-01 to 2018-11-30
Time elapsed (hh:mm:ss.ms) 0:00:12.729971
Currently retrieving data for Mlawa: from 2018-12-01 to 2018-12-01
Time elapsed (hh:mm:ss.ms) 0:00:13.120067


export Mlawa completed!

In [27]:
import pandas as pd
df=pd.read_csv("Mlawa.csv")
df.head()

    date_time  maxtempC  mintempC  ...  visibility  winddirDegree  windspeedKmph
0  2018-01-01         8         3  ...          10            224             19
1  2018-01-02         3         1  ...          10            188             11
2  2018-01-03         3         0  ...           6            199             19
3  2018-01-04         6         3  ...          10            216             23
4  2018-01-05         7         3  ...          10            217             24

[5 rows x 25 columns]

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 335 entries, 0 to 334
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date_time          335 non-null    object
 1   maxtempC           335 non-null    int64
 2   mintempC           335 non-null    int64
 3   totalSnow_cm       335 non-null    float64
 4   sunHour            335 non-null    float64
 5   uvIndex            335 non-null    int64
 6   uvIndex.1          335 non-null    int64
 7   moon_illumination  335 non-null    int64
 8   moonrise           335 non-null    object
 9   moonset            335 non-null    object
 10  sunrise            335 non-null    object
 11  sunset             335 non-null    object
 12  DewPointC          335 non-null    int64
 13  FeelsLikeC         335 non-null    int64
 14  HeatIndexC         335 non-null    int64
 15  WindChillC         335 non-null    int64
 16  WindGustKmph       335 non-null    int64
 17  cloudcover         335 non-null    int64
 18  humidity           335 non-null    int64
 19  precipMM           335 non-null    float64
 20  pressure           335 non-null    int64
 21  tempC              335 non-null    int64
 22  visibility         335 non-null    int64
 23  winddirDegree      335 non-null    int64
 24  windspeedKmph      335 non-null    int64
dtypes: float64(3), int64(17), object(5)
memory usage: 65.6+ KB

In [0]:
df=df.drop(['uvIndex','uvIndex.1','moon_illumination','moonrise','moonset','sunrise','sunset','DewPointC','pressure','winddirDegree','sunHour'],axis=1)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 335 entries, 0 to 334
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date_time      335 non-null    object
 1   maxtempC       335 non-null    int64
 2   mintempC       335 non-null    int64
 3   totalSnow_cm   335 non-null    float64
 4   FeelsLikeC     335 non-null    int64
 5   HeatIndexC     335 non-null    int64
 6   WindChillC     335 non-null    int64
 7   WindGustKmph   335 non-null    int64
 8   cloudcover     335 non-null    int64
 9   humidity       335 non-null    int64
 10  precipMM       335 non-null    float64
 11  tempC          335 non-null    int64
 12  visibility     335 non-null    int64
 13  windspeedKmph  335 non-null    int64
dtypes: float64(2), int64(11), object(1)
memory usage: 36.8+ KB

In [30]:
df.head()

    date_time  maxtempC  mintempC  ...  tempC  visibility  windspeedKmph
0  2018-01-01         8         3  ...      8          10             19
1  2018-01-02         3         1  ...      3          10             11
2  2018-01-03         3         0  ...      3           6             19
3  2018-01-04         6         3  ...      6          10             23
4  2018-01-05         7         3  ...      7          10             24

[5 rows x 14 columns]

In [0]:
def avg(l):
  return(sum(l)/len(l))

In [32]:
df['date'] = pd.to_datetime(df['date_time'],format="%Y.%m.%d")
df= df.drop(columns=["date_time"],axis=1)
df.head()

   maxtempC  mintempC  totalSnow_cm  ...  visibility  windspeedKmph       date
0         8         3           0.0  ...          10             19 2018-01-01
1         3         1           0.0  ...          10             11 2018-01-02
2         3         0           0.1  ...           6             19 2018-01-03
3         6         3           0.0  ...          10             23 2018-01-04
4         7         3           0.0  ...          10             24 2018-01-05

[5 rows x 14 columns]

In [0]:
df.set_index('date',inplace=True)

In [0]:
months=df.index.month

In [0]:
monthly_avg_maxtemp=df.groupby(months).maxtempC.mean()

In [41]:
print(monthly_avg_maxtemp)

date
1      1.290323
2     -1.535714
3      3.225806
4     17.433333
5     21.483871
6     22.233333
7     24.483871
8     24.677419
9     20.200000
10    14.451613
11     6.266667
12    -5.000000
Name: maxtempC, dtype: float64

In [43]:
monthly_avg_mintemp=df.groupby(months).mintempC.mean()
print(monthly_avg_mintemp)

date
1     -2.129032
2     -5.035714
3     -2.903226
4      6.733333
5     10.451613
6     11.900000
7     14.967742
8     15.161290
9     11.466667
10     6.967742
11     1.666667
12    -9.000000
Name: mintempC, dtype: float64

In [44]:
monthly_avg_totalSnow_cm=df.groupby(months).totalSnow_cm.mean()
print(monthly_avg_totalSnow_cm)

date
1     0.061290
2     0.035714
3     0.070968
4     0.000000
5     0.000000
6     0.000000
7     0.000000
8     0.000000
9     0.000000
10    0.000000
11    0.010000
12    0.000000
Name: totalSnow_cm, dtype: float64

In [45]:
monthly_avg_FeelsLikeC=df.groupby(months).FeelsLikeC.mean()
print(monthly_avg_FeelsLikeC)

date
1     -4.838710
2     -7.607143
3     -4.032258
4     10.366667
5     15.419355
6     17.100000
7     19.903226
8     20.064516
9     14.733333
10     8.193548
11     0.766667
12   -12.000000
Name: FeelsLikeC, dtype: float64

In [46]:
monthly_avg_humidity=df.groupby(months).humidity.mean()
print(monthly_avg_humidity)

date
1     82.806452
2     76.035714
3     73.225806
4     72.466667
5     73.225806
6     72.300000
7     75.967742
8     69.967742
9     69.233333
10    71.645161
11    80.600000
12    51.000000
Name: humidity, dtype: float64